{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'authorization/img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'authorization/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Ligconsolata:wght@300;400;700&display=swap" rel="stylesheet">
  <title></title>
</head>
<body>
  <div class="rw-block">
    <div class="logo-hp">
      <img style="width: 100%; height: 100%;" src="{% static 'authorization/img/v24_18.png' %}" alt="logo">
    </div>

    <div class="reg-block-hp">
      <h1>Your place for <br>
        ideas and interests</h1>
      <div class="text-area-hp">
        <p class="txt-pricol">Join now.</p>
        <button class="wgoogle">
          <img src="{% static 'authorization/img/v44_4.png' %}" alt="">
          <p>With Google</p>
        </button>
        <button class="wgithub">
          <img src="{% static 'authorization/img/v44_5.png' %}" alt="">
          <p>With GitHub</p>
        </button>
        <div class="line-or">
          <hr> <p>or</p> <hr>
        </div>
        <button class="reg">
          <p>Registration</p>
        </button>
        <div class="line-or2">
          <p style="font-size: 16px; font-weight: 100;">By registering you accept the</p> 
          <div style="font-size: 16px; letter-spacing: 3px; font-weight: 900;"><a href="{% url 'rules' %}">rules of the community</a></div><br><br><br><br>
          <p style="font-size: 24px;">Registered already?</p>
        </div>
        <button class="log">
          <p>Sign In</p>
        </button>
      </div>
    </div>
  </div>

      {% block content %}
      {% endblock %}
      <script src="{% static 'authorization/js/script.js' %}"></script>
</body>
</html>