{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authorization/css/style.css' %}">
    <title>Document</title>
</head>
<header>
      <img src="{% static 'authorization/img/v24_18.png' %}" alt="Logo">
      <p>Follow the rules of the community!</p>
      <button><p>Download PDF</p></button>
</header>
<body class="body-rules">
    <div class="main-rules">
        <h1>The rules of the <br>
        community</h1>
        <p1>Effective from the project's release date.</p1>
        <hr>   
            <h4>Welcome to our community!</h4>
            <p>We are glad to have you here. To ensure a comfortable and friendly <br>
            environment, please follow the rules of this document.</p>
        <hr>
        <h2>FunMan Terms of Service:</h2>
            <div class="txt-rules">
                <h3>1. Respect Other Members</h3>
                <p>Show respect for the opinions, boundaries, and interests of others. Harassment, bullying, discrimination, or hate speech of any kind is prohibited.</p>

                <h3>2. Prohibited Content</h3>
                <p>Do not post materials that violate laws, copyrights, or the rights of others.</p>

                <h3>3. Spam and Advertising</h3>
                <p>Spam, mass messaging, and aggressive advertising of products or services are not allowed. Obtain permission from moderators before posting promotional content.</p>

                <h3>4. Authenticity</h3>
                <p>Create only one account. Multiple accounts used for manipulation or deception are prohibited. Do not impersonate others or organizations.</p>

                <h3>5. Relevance</h3>
                <p>Post content that aligns with the community's theme. Avoid off-topic posts or those deemed inappropriate.</p>

                <h3>6. Privacy</h3>
                <p>Do not share other people's personal data without their consent. Respect the confidentiality of information that could harm others.</p>

                <h3>7. Reporting Violations</h3>
                <p>If you notice a rule violation, report it to moderators using the built-in complaint system.</p>
            </div>
        <hr> 
            <hh1>Consequences of Violations:</hh1>
            <hh2>The following actions may be taken for rule violations:</hh2>
        <ul>
            <li>Content removal</li>
            <li>Warning</li>
            <li>Temporary or permanent account suspension</li>
        </ul>
    </div>
</body>
<div class="footer">
    <img style="height: 25px;" src="{% static 'authorization/img/1234.jpg' %}" alt="Logo">
    <img style="height: 100%;" src="{% static 'authorization/img/v24_18.png' %}" alt="Logo">
    <img style="height: 25px;" src="{% static 'authorization/img/4321.jpg' %}" alt="Logo">
</div>
</html>