{% extends 'home/index.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Home {% endblock %}

{% block extra_js %}
<script src="{% static 'home/js/media.js' %}"></script>
{% if request.method == "POST" and not form.errors %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (typeof clearForm === 'function') {
            clearForm();
        }
    });
</script>
{% endif %}
{% endblock %}


{% block center-block %}
<div class="home-centre-block">
    <div class="post_type--toggle">
        <a href="?filter=for_u" class="toggle-posts {% if filter == 'for_u' %}active-btn{% endif %}" id="for_u">For You</a>
        <a href="?filter=following" class="toggle-posts {% if filter == 'following' %}active-btn{% endif %}" id="following">Following</a>
    </div>
    
    <div class="centre-post-create">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="first-part-ofpostcre">
                <img src="{% static 'home/img/camera.png' %}" alt="">
                <p style="width: 100%;">
                    {{ form.content }}
                </p>
            </div>
            <!-- Контейнер для превью медиа -->
            <div id="mediaPreviewContainer" class="media-preview-container" style="display: none;">
                <div id="mediaPreview" class="media-preview-grid"></div>
            </div>
            <div class="second-part-ofpostcre">
                <div class="additional-bar">
                    <img src="{% static 'home/img/gallery-ico.png' %}" alt="" id="galleryBtn" class="gallery-btn" onclick="document.getElementById('mediaInput').click();">
                    <img src="{% static 'home/img/emoji-ico.png' %}" alt="">
                    <img src="{% static 'home/img/gif-ico.png' %}" alt="">
                    <img src="{% static 'home/img/calendar-ico.png' %}" alt="">

                    <input type="file" name="media_files" id="mediaInput" multiple accept="image/*,video/*" style="display: none;">
                    {{ form.tags }}
                </div>
                <button type="submit" class="submit-button" id="postButton">Post</button>
            </div>
        </form>
    </div>
    
    {% include "includes/_post.html" %}
</div>
{% endblock %}
