{% extends 'home/index.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Home {% endblock %}

{% block left-block %}  
<div class="home-left-block">
    <img src="{% static 'home/img/v24_18.png' %}" alt="" class="home-logo">
    <nav>
        <button class="nav-btn" id="home">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/home-icon.png' %}" alt=""> 
                <p>Home</p>
            </div>
        </button>
        <button class="nav-btn" id="messages">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/messages-icon.png' %}" alt=""> 
                <p>Messages</p>
            </div>
        </button>
        <button class="nav-btn" id="profile">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/profile-icon.png' %}" alt=""> 
                <p>Profile</p>
            </div>
        </button>
        <button class="nav-btn" id="search">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/search-icon.png' %}" alt=""> 
                <p>Search</p>
            </div>
        </button>
        <button class="nav-btn" id="bookmarks">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/bookmarks-icon.png' %}" alt=""> 
                <p>Bookmarks</p>
            </div>
        </button>
        <button class="nav-btn" id="community">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/community-icon.png' %}" alt=""> 
                <p>Community</p>
            </div>
        </button>
        <button class="nav-btn" id="lists">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/lists-icon.png' %}" alt=""> 
                <p>Lists</p>
            </div>
        </button>
        <button class="nav-btn" id="post" style="margin-top: 50px;">
            <div class="vis-nav-btn" style="height: 50px; width: 100%;">
                <p>Post</p>
            </div>
        </button>
    </nav>
    
</div>
{% endblock %}
{% block center-block %}
<div class="home-centre-block">
    <div class="post_type--toggle">
        <a href="?filter=for_u" class="toggle-posts {% if filter == 'for_u' %}active-btn{% endif %}" id="for_u">For You</a>
        <a href="?filter=following" class="toggle-posts {% if filter == 'following' %}active-btn{% endif %}" id="following">Following</a>
    </div>
    
    <div class="centre-post-create">
        <form method="POST">
            {% csrf_token %}
            <div class="first-part-ofpostcre">
                <img src="{% static 'home/img/camera.png' %}" alt="">
                <p style="width: 100%;">
                    {{ form.content }}
                </p>
            </div>
            <div class="second-part-ofpostcre">
                <div class="additional-bar">
                    <img src="{% static 'home/img/gallery-ico.png' %}" alt="">
                    <img src="{% static 'home/img/emoji-ico.png' %}" alt="">
                    <img src="{% static 'home/img/gif-ico.png' %}" alt="">
                    <img src="{% static 'home/img/calendar-ico.png' %}" alt="">
                    {{ form.tags }}
                </div>
                <button type="submit" class="submit-button" disabled>Post</button>
            </div>
        </form>
    </div>
    {% include "includes/_post.html" %}
</div>
{% endblock %}
{% block right-block %}
<div class="home-right-block">
    <search style="margin-top: 20px;">
        {% include "includes/search.html" %}
    </search>
    <div class="home-r-pinned-block">
        <label>{ Pinned function }</label>
        <img src="{% static 'home/img/pin-icon.png' %}" alt="">
        <p>You can pin your <br>
            desired tab, chats, or <br> 
            notifications.</p>
    </div>
    <div class="home-r-recomendations">
        <h3>Popular Authors</h3>
        <div class="rec-card">
            <img src="{% static 'home/img/camera.png' %}" alt="">
            <h5>Popular Author_1 <br>
            <p>AI, Anime, Physical...</p></h5>
            <img src="{% static 'home/img/eye-icon.png' %}" alt="" class="eye-icon">
        </div>
        <div class="rec-card">
            <img src="{% static 'home/img/camera.png' %}" alt="">
            <h5>Popular Author_1 <br>
            <p>AI, Anime, Physical...</p></h5>
            <img src="{% static 'home/img/eye-icon.png' %}" alt="" class="eye-icon">
        </div>
        <div class="rec-card">
            <img src="{% static 'home/img/camera.png' %}" alt="">
            <h5>Popular Author_1 <br>
            <p>AI, Anime, Physical...</p></h5>
            <img src="{% static 'home/img/eye-icon.png' %}" alt="" class="eye-icon">
        </div>
    </div>
</div>
{% endblock %}
