
{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'authorization/img/favicon.ico' %}"> 
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}?{% cache_boost %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/media.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="home-page">
        <!-- Fixed Header -->
        <div class="fixed-header-block">
            
            <div style="display: flex; flex: 1;"></div>

            <div class="home-left-block">
                <img src="{% static 'home/img/v24_18.png' %}" alt="" class="home-logo">
                <nav>
                    <button class="nav-btn" id="home">
                        <div class="vis-nav-btn">
                            <img src="{% static 'home/img/home-icon.png' %}" alt=""> 
                            <p>Home</p>
                        </div>
                    </button>
                    <button class="nav-btn" id="messages">
                        <div class="vis-nav-btn">
                            <img src="{% static 'home/img/messages-icon.png' %}" alt=""> 
                            <p>Messages</p>
                        </div>
                    </button>
                    <button class="nav-btn" id="profile">
                        <div class="vis-nav-btn">
                            <img src="{% static 'home/img/profile-icon.png' %}" alt=""> 
                            <p>Profile</p>
                        </div>
                    </button>
                    <button class="nav-btn" id="search">
                        <div class="vis-nav-btn">
                            <img src="{% static 'home/img/search-icon.png' %}" alt=""> 
                            <p>Search</p>
                        </div>
                    </button>
                    <button class="nav-btn" id="bookmarks">
                        <div class="vis-nav-btn">
                            <img src="{% static 'home/img/bookmarks-icon.png' %}" alt=""> 
                            <p>Bookmarks</p>
                        </div>
                    </button>
                    <button class="nav-btn" id="community">
                        <div class="vis-nav-btn">
                            <img src="{% static 'home/img/community-icon.png' %}" alt=""> 
                            <p>Community</p>
                        </div>
                    </button>
                    <button class="nav-btn" id="lists">
                        <div class="vis-nav-btn">
                            <img src="{% static 'home/img/lists-icon.png' %}" alt=""> 
                            <p>Lists</p>
                        </div>
                    </button>
                    <button class="nav-btn" id="post" style="margin-top: 50px;">
                        <div class="vis-nav-btn" style="height: 50px; width: 100%;">
                            <p>Post</p>
                        </div>
                    </button>
                </nav>
            </div>

            {% block right-block %}
                <div style="width: 620px; height: 0;"></div>
            
                <div class="home-right-block">
                    <search style="margin-top: 20px;">
                        {% include "includes/search.html" %}
                    </search>
                    <div class="home-r-pinned-block">
                        <label>{ Pinned function }</label>
                        <img src="{% static 'home/img/pin-icon.png' %}" alt="">
                        <p>You can pin your <br>
                            desired tab, chats, or <br> 
                            notifications.</p>
                    </div>
                    <div class="home-r-recomendations">
                        <h3>Popular Authors</h3>
                        <div class="rec-card">
                            <img src="{% static 'home/img/camera.png' %}" alt="">
                            <h5>Popular Author_1 <br>
                            <p>AI, Anime, Physical...</p></h5>
                            <img src="{% static 'home/img/eye-icon.png' %}" alt="" class="eye-icon">
                        </div>
                        <div class="rec-card">
                            <img src="{% static 'home/img/camera.png' %}" alt="">
                            <h5>Popular Author_1 <br>
                            <p>AI, Anime, Physical...</p></h5>
                            <img src="{% static 'home/img/eye-icon.png' %}" alt="" class="eye-icon">
                        </div>
                        <div class="rec-card">
                            <img src="{% static 'home/img/camera.png' %}" alt="">
                            <h5>Popular Author_1 <br>
                            <p>AI, Anime, Physical...</p></h5>
                            <img src="{% static 'home/img/eye-icon.png' %}" alt="" class="eye-icon">
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div style="display: flex; flex: 1;"></div>
        </div>
        <!-- ---- -->
        <!-- Not fixed -->
        <div style="display: flex; flex: 1; height: 100%;"></div>

        {% block center-block %}    {% endblock %} 

        
            <div style="display: flex; flex: 1; border: 6px solid #2C2C2C;"></div>
        <!-- ---- --> 

    </div>
    {% block add_comment %}    {% endblock %}
<script src="{% static 'home/js/script.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>