{% extends 'home/index.html' %}
{% load static %}

{% block title %} Bookmarks {% endblock %}


{% block center-block %}
<div class="home-centre-block">
    <div class="center-back-line">
        <button class="circle-back-btn">
            <img src="{% static 'home/img/back-btn.png' %}" class="back-btn" alt="">
        </button>
        <h4>Bookmarks</h4>
    </div>
    <search>{% include "includes/search.html" %}</search>
    <h1 style="position: relative;color: white; top: 20%; left: 20px;">Save posts for later</h1>
    <p style="position: relative;
    width: 50%;
    font-size: 12px;
    color: #878787;
    padding-bottom: 15px;
    top: 22%;">Bookmark posts to easily find them again in the future.</p>

</div>
{% endblock %}

