{% extends 'home/index.html' %}
{% load static %}

{% block title %} Bookmarks {% endblock %}

{% block left-block %}
<div class="home-left-block">
    <img src="{% static 'home/img/v24_18.png' %}" alt="" class="home-logo">
    <nav>
        <button class="nav-btn" id="home">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/home-icon.png' %}" alt=""> 
                <p>Home</p>
            </div>
        </button>
        <button class="nav-btn" id="messages">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/messages-icon.png' %}" alt=""> 
                <p>Messages</p>
            </div>
        </button>
        <button class="nav-btn" id="profile">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/profile-icon.png' %}" alt=""> 
                <p>Profile</p>
            </div>
        </button>
        <button class="nav-btn" id="search">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/search-icon.png' %}" alt=""> 
                <p>Search</p>
            </div>
        </button>
        <button class="nav-btn" id="bookmarks">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/bookmarks-icon.png' %}" alt=""> 
                <p>Bookmarks</p>
            </div>
        </button>
        <button class="nav-btn" id="community">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/community-icon.png' %}" alt=""> 
                <p>Community</p>
            </div>
        </button>
        <button class="nav-btn" id="lists">
            <div class="vis-nav-btn">
                <img src="{% static 'home/img/lists-icon.png' %}" alt=""> 
                <p>Lists</p>
            </div>
        </button>
        <button class="nav-btn" id="post" style="margin-top: 50px;">
            <div class="vis-nav-btn" style="height: 50px; width: 100%;">
                <p>Post</p>
            </div>
        </button>
    </nav>
    
</div>
{% endblock %}
{% block center-block %}
        {% if not user.chats.all %}
            <div class="home-centre-block" style="width: 266px; padding-left: 20px;">
                <div class="center-back-line" style="background-color: transparent;">    
                    <h4 class="messages-H1">Messages</h4>
                    <img src="{% static 'home/img/settings-ico.png' %}" class="icons-messages" alt="">
                    <a href="{% url 'new_message' %}">
                        <img src="{% static 'home/img/message-plus-ico.png' %}" class="icons-messages" style="margin-right: 15px;" alt="">
                    </a>
                </div>
                <h2 style="position: relative;color: white; top: 14%;">Welcome to your
                    inbox!</h2>
                <p style="position: relative;
                font-size: 12px;
                color: #878787;
                padding-bottom: 15px;
                top: 16%;">Drop a line, share posts and more with private conversations between you and others on FM.</p>
                <a href="" class="messages-button" style="position:relative; top: 19%;">Write a message</a>
            </div>
        {% else %}
            <div class="home-centre-block" style="width: 266px;">
                <div class="center-back-line" style="background-color: transparent; margin-bottom: 0;">    
                    <h4 class="messages-H1">Messages</h4>
                    <img src="{% static 'home/img/settings-ico.png' %}" class="icons-messages" alt="">
                    <a href="{% url 'new_message' %}">
                        <img src="{% static 'home/img/message-plus-ico.png' %}" class="icons-messages" style="margin-right: 15px;" alt="">
                    </a>
                    </div>
                <search>
                    {% include "includes/search.html" %}
                </search>
                <div class="messages-block">
                    {% include "includes/chats.html" with chats_with_parters=chats_with_partners %} 
                </div>
            </div>
            <div></div>
        {% endif %}
{% endblock %}
{% block right-block %}
        {% if not user.chats.all %}
            <div class="home-right-block" style="border-right: 4px solid #202020; width: 576px; padding-left: 100px;">
                <h2 style="position: relative;color: white; top: 35%;">Select a message</h2>
                <p style="position: relative;
                width: 50%;
                font-size: 12px;
                color: #878787;
                padding-bottom: 15px;
                top: 37%;">Choose from your existing conversations, start a new one, or just keep swimming.</p>
                <a href="" class="messages-button" style="position: relative; top: 38%;">New message</a>
            </div>
        {% else %}
            {% if not selected_chat %}
                <div class="home-right-block" style="border-right: 4px solid #202020; width: 576px; padding-left: 100px;">
                    <h2 style="position: relative;color: white; top: 35%;">Select a message</h2>
                    <p style="position: relative;
                    width: 50%;
                    font-size: 12px;
                    color: #878787;
                    padding-bottom: 15px;
                    top: 37%;">Choose from your existing conversations, start a new one, or just keep swimming.</p>
                    <a href="" class="messages-button" style="position: relative; top: 38%;">New message</a>
                </div>
            {% else %}
                <div class="home-right-block" style="border-right: 4px solid #202020; width: 576px; padding: 0;">
                    <div class="header-of-chat">
                        <img src="{% static 'home/img/camera.png' %}" alt="" style="margin: 10px;" class="avatar-in-post">
                        <span class="chat-with-user"> {{ selected_chat_partner }} </span>
                        {% if selected_chat_partner %}
                            <a href="{% url 'delete_chat' selected_chat_partner.id %}">
                                <img style='height: 30px; width: 30px;' src="{% static 'home/img/trash.png' %}" alt="">
                            </a>
                        {% else %}
                            <a href="{% url 'delete_chat' user.id %}">
                                <img style='height: 30px; width: 30px;' src="{% static 'home/img/trash.png' %}" alt="">
                            </a>
                        {% endif %}
                    </div>
                    <div class="messages-area">
                        {% for message in selected_chat.messages.all %}
                            <div class="message">
                                <div class="message-header">
                                    <img class="avatar-in-post" src="{% static 'home/img/camera.png' %}" alt="avatar">
                                </div>
                                <div class="message-body">
                                    <span class="username">{{ message.sender.username }}</span>
                                    <span style="white-space: pre-wrap; 
                                    word-wrap: break-word;">{{ message.text }}</span>
                                    <div class="message-info">
                                        <span class="timestamp">{{ message.timestamp|date:"H:i" }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <form method="post" class="create-message-block">
                        {% csrf_token %}
                        <textarea
                            name="message"
                            class="input-message"
                            placeholder="Type your message..."
                            rows="6"
                        ></textarea>
                        <button type="submit">
                            <img class="style-none" src="{% static 'home/img/paper-plane-black.png' %}" alt="Send">
                        </button>
                    </form>
                </div>
                {% endif %}
        {% endif %}
{% endblock %}
