# Python  
__pycache__/  
*.py[cod]  
  
*.sqlite3  
/secrets.json  

# Логи и временные файлы  
*.log  
*.pid  
*.dump  
**utils.py
**/passwords.py

# IDE и системные файлы  
.vscode/  
.idea/  
.DS_Store  
venv/
*/venv/
**/media/