# Виртуальное окружение
venv/
env/

#
FunMan/FunMan/passwords.py

# Файлы кэша
__pycache__/
*.pyc
*.pyo

# Конфиденциальные данные
*.env
*.sqlite3
/secrets.json

# Логи и дампы
logs/
*.log
*.out
*.pid
*.dump

# Статические и медиа-файлы (если хранятся локально)
staticfiles/
media/

# IDE и система
.vscode/
.idea/
.DS_Store
# **/migrations/
# !**/migrations/__init__.py
FunMan/FunMan/utils.py
FunMan/authorization/utils.py


docker-compose.yml
*/postgres_data/
FunMan/utils.py
