 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ligconsolata', monospace;
  }
    html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #2C2C2C;
  }
  img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }
  button, input, select, textarea {
  font: inherit;
  }
  button {
    all: unset;
  }
  
  a {
  text-decoration: none;
  color: inherit;
  }
.home-page {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #2C2C2C;
  justify-content: center;
  align-items: center;
}
.home-logo {
  height: 90px;
  width: 95px;
}
.home-left-block {
  display: flex;
  height: 100%;
  width: 230px;
  background-color: #2C2C2C;
  align-items: center;
  flex-flow: column;
  border-right: 4px solid #202020;
  padding-right: 20px;
}
.nav-btn {
  all: unset;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 50px;
}
.nav-btn img {
  display: block;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.nav-btn p {
  margin-left: 20px;
  margin-right: 30px;
  
}
.vis-nav-btn {
  user-select: none;
  border-radius: 50px;
  display: flex;
  align-items: center; 
  background-color: #282828;
  width: fit-content;
  max-width: 100%;
  padding: 5px;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.vis-nav-btn:hover {
  background-color: #363636;
}
.vis-nav-btn:active {
  background-color: #181818;
}
.home-right-block {
  height: 100%;
  width: 240px;
  background-color: #2C2C2C;
  border-left: 4px solid #202020;
  padding-left: 20px;
}
.home-r-search-line, .home-c-search-line {
  color: #8B8B8B;
  display: flex;
  height: fit-content;
  width: 100%;
  border-radius: 50px;
  background-color: #4B4B4B;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.home-r-search-line img,
.home-c-search-line img {
  border-radius: 50px;
  height: 40px;
}
.home-r-search-line p, 
.home-c-search-line p {
  padding-left: 10px;
}
.home-r-pinned-block {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 370px;
  width: 100%;
  background-color: #2C2C2C;
  border: 2px solid #202020;
  border-radius: 10px;
}
.home-r-pinned-block label {
  color: white;
  font-size: 18px;
  width: fit-content;
  margin-top: 10px;
  padding-bottom: 70px;
}
.home-r-pinned-block img {
  width: 50px;
  padding-bottom: 15px;
}
.home-r-pinned-block p {
  width: 160px;
  font-size: 12px;
  color: #878787;
  padding-bottom: 15px;
}
.home-r-recomendations {
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  background-color: #2C2C2C;
  border: 2px solid #202020;
  border-radius: 10px;
  margin-top: 66px;
  width: 100%;
  flex-flow: column;
}
.home-r-recomendations h3 {
  width: 100%;
  padding-bottom: 20px;
  color: white;
}
.rec-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 100%;
  background-color: #383838;
  border-radius: 5px;
  margin-top: 10px;
}
.rec-card img {
  border-radius: 50px;
  height: 35px;
  width: 35px;
}
.rec-card p {
  font-size: 9px;
  font-weight: 100;
  color: #8B8B8B;
}
.rec-card h5 {
  font-size: 12px;
  padding: 8px;
  color: white;
}
.rec-card .eye-icon {
  height: 15px !important; 
  width: 15px !important; 
  border-radius: 0; 
  margin-right: 5px;
}
.home-centre-block {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 610px;
  background-color: #2C2C2C;
}
.post_type--toggle {
  display: flex;
  width: 100%;
  height: 50px;
}
.post_type--toggle button {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 50%;
  height: 100%;
  background-color: #282828;
  color: #8B8B8B;
}
.follow:hover {
  background-color: #363636;
}
.post_type--toggle .active-btn {
  background-color: #202020;
  color: white;
  font-weight: bold;
}
.centre-post-create {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding-bottom: 15px;
  border-bottom: 3px solid #202020;
}
.first-part-ofpostcre {
  padding: 20px;
  display: flex;
  align-items: center;
}
.first-part-ofpostcre img {
  height: 51px;
}
.first-part-ofpostcre p {
  padding-left: 20px;
  color: #8B8B8B;
  font-size: 18px;
}
.second-part-ofpostcre {
  display: flex;
  width: 100%;
  height: fit-content;
}
.second-part-ofpostcre button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 32px;
  border-radius: 50px;
  width: 75px;
  height: 32px;
  background-color: #878787;
}
.additional-bar {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-left: 85px;
}
.additional-bar img {
  height: 18px;
  margin: 7px;
}
.additional-bar img {
  user-select: none;
}
.center-back-line {
  background-color: black;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.circle-back-btn {
  background-color: rgb(0, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}
.back-btn {
  height: 11px;
  width: 13px;
}
.center-back-line h4 {
  margin-left: 20px;
  font-size: 15px;
  color: white;
  font-weight: 100;
}
.home-c-search-line {
  width: 70%;
}