{% extends 'authorization/index.html' %}
{% load socialaccount %}
{% load static %}

{% block content %} 
<div class="blure-reg-wind">
</div>
<div class="reg-wind">
  <div style="width: 100%;">
      
    <button class="back-button closebtn-index">
          <img src="{% static 'authorization/img/close-button.png' %}" alt="">
      </button>

      <img class="imglogo-hedder-of-reg" src="{% static 'authorization/img/v24_18.png' %}" alt="">
  </div>
    <h1>Sign in FunMan</h1>
    <a href="{% provider_login_url 'google' %}">
      <button class="wgoogle">
        <img src="{% static 'authorization/img/v44_4.png' %}" alt="">
        <p>With Google</p>
      </button>
    </a>
    <a href="{% provider_login_url 'github' %}">
      <button class="wgithub">
        <img src="{% static 'authorization/img/v44_5.png' %}" alt="">
        <p>With GitHub</p>
      </button>
    </a>
  <div class="line-or">
    <hr> <p>or</p> <hr>
  </div>

  <form method="POST">  
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="nextbtn" style="margin-left: 16px;">
        <p>Next</p>
    </button>
  </form>

  <a href="{% url 'password_reset' %}" class="fgt-password">Forgot your password?</a>
  
</div>
{% endblock %}