<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header style="position: relative;">
      <img src="" alt="Logo">
      <p>Follow the rules of the community!</p>
      <button>Download PDF</button>
</header>
<body style="position: relative;">
    <p>The rules of the 
    community</p>
    <p>Effective from the project's release date.</p>
    <hr>   
        <p>Welcome to our community!</p>
        <p>We are glad to have you here. To ensure a comfortable and friendly environment, please follow the rules of this document.</p>
    <hr>
    <p>FunMan Terms of Service:</p>
    <ol>
        <li>1. Respect Other Members </li>

        Show respect for the opinions, boundaries, and interests of others.
        Harassment, bullying, discrimination, or hate speech of any kind is prohibited.

    <li>2. Prohibited Content</li>

        Do not post materials that violate laws, copyrights, or the rights of others.

        3. Spam and Advertising

        Spam, mass messaging, and aggressive advertising of products or services are not allowed.
        Obtain permission from moderators before posting promotional content.

        4. Authenticity

        Create only one account. Multiple accounts used for manipulation or deception are prohibited.
        Do not impersonate others or organizations.

        5. Relevance

        Post content that aligns with the community's theme.
        Avoid off-topic posts or those deemed inappropriate.

        6. Privacy

        Do not share other people's personal data without their consent.
        Respect the confidentiality of information that could harm others.

        7. Reporting Violations

        If you notice a rule violation, report it to moderators using the built-in complaint system.
    </ol>


</body>
</html>